<div ng-controller="manageUsersCtrl">
<md-dialog aria-label="{{title}} User"  ng-cloak>
  <form id="loginform">
    <md-toolbar id="whiteheader">
      <div class="md-toolbar-tools">
        <h2><center>{{title}} User</center></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content id="logincontent">
      <div class="md-dialog-content">
        <div ng-show="wrong">
      <h4><font color="#ff0000">Invalid input or passwords do not match.</font></h4>
    </div>
    <md-input-container id="loginbox" flex>
      <input type="text" class="form-control" placeholder="Username" ng-model="user.username" />
      <i class="fa fa-user form-control-feedback fa-2x"></i>
    </md-input-container>
    <md-input-container id="loginbox" flex>
      <input type="password" class="form-control" placeholder="Password" ng-model="user.password" />
      <i class="fa fa-lock form-control-feedback fa-2x"></i>
    </md-input-container>
    <md-input-container id="loginbox" flex>
      <input type="password" class="form-control" placeholder="Confirm Password" ng-model="user.confirmpassword" />
      <i class="fa fa-lock form-control-feedback fa-2x"></i>
    </md-input-container>
      <!-- <md-input-container>
      <h3>Choose a role below:</h3>
        <md-select placeholder="admin" ng-model="selectedRole">
          <md-optgroup label="Roles">
            <md-option ng-value="role" ng-repeat="role in roles" layout-wrap>{{role}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container> -->
    </form> 
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <button ui-sref="database" type="button" class="button medium" ng-click="cancel()">
      Cancel
    </button>
      <button type="button" class="button medium" ng-click="addUser(user.username, user.confirmpassword, user.password, user.role)">
      Save</button>
    </md-dialog-actions>
  </form>
</md-dialog>
</div>