<md-content class="md-padding">
  <div ng-controller="manageUsersCtrl">
  	<div ng-controller="addUserModalCtrl">
		<button ng-click="showAdvanced($event)" class="button medium">Add User</button>
	</div>
	<!-- <div class="row">
        <div class="col-xs-4">
           	<label for="search">Search:</label>
            <input ng-model="searchUser" id="search" class="form-control" placeholder="Search Database">
        </div>
        <div class="col-xs-4">
            <label for="search">Patients Per Page:</label>
            <input type="number" min="1" max="100" class="form-control" ng-model="pageSizeUser">
     	</div>
   	</div>
   	<div class="text-center">
		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="templates/database/pagination.html" pagination-id="paginationUser"></dir-pagination-controls>
	</div>
   	<br> -->
   	<div ng-controller="editUserModalCtrl">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="user in users">
				<div ng-click="showAdvanced(user, $event)">
					<h3>{{user}}</h3>
				</div>
			</li>	
		</ul>
	</div>
  </div>
</md-content>