<!-- <footer class="footer-distributed">
    <div class="footer-left">

		<h4>Service Science and Software Engineering<span> Laboratory</span> </h4>

		<p class="footer-company-name">Department of Computer Science University of the Philippines Diliman&copy; 2016</p>
	</div>

	<div class="footer-center">

		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>Taft Avenue Ermita, Brgy 670 Zone 72,</span> Manila, 1000 Metro Manila</p>
		</div>

		<div>
			<i class="fa fa-phone"></i>
			<p>+63-917-468-6604</p>
		</div>

		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:support@company.com">philvasc@gmail.com</a></p>
		</div>

	</div>

	<div class="footer-right">

		<p class="footer-company-about">
			<span>About the Developers</span>
			Elaine C. Iturralde and Mary Agnes Jardeleza are students of the University of the Philippines Diliman. They created the system to fulfill the requirements of their thesis.
		</p>

	</div>
  </footer> -->

<footer id="footer">
	<div class="container">
		<div class="row">
			<section class="4u 6u(medium) 12u$(small)">
				<h3>Department of Computer Science, University of the Philippines Diliman</h3>
				<p>Service Science and Software Engineering Laboratory</p>
				<ul class="alt">
					<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
					<li><a href="#">Quod adipisci perferendis et itaque.</a></li>
					<li><a href="#">Itaque eveniet ullam, veritatis reiciendis?</a></li>
					<li><a href="#">Accusantium repellat accusamus a, soluta.</a></li>
				</ul>
			</section>
			<section class="4u 6u$(medium) 12u$(small)">
				<h3>The Philippine General Hospital</h3>
				<p>Tenetur voluptate exercitationem eius tempora! Obcaecati suscipit, soluta earum blanditiis.</p>
				<ul class="alt">
					<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
					<li><a href="#">Id inventore, qui necessitatibus sunt.</a></li>
					<li><a href="#">Deleniti eum odit nostrum eveniet.</a></li>
					<li><a href="#">Illum consectetur quibusdam eos corporis.</a></li>
				</ul>
			</section>
			<section class="4u$ 12u$(medium) 12u$(small)">
				<h3>Contact Us</h3>
				<ul class="icons">
					<li><a href="#" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon rounded fa-pinterest"><span class="label">Pinterest</span></a></li>
					<li><a href="#" class="icon rounded fa-google-plus"><span class="label">Google+</span></a></li>
					<li><a href="#" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>
				</ul>
				<ul class="tabular">
					<li>
						<h3>Address</h3>
						Taft Avenue Ermita<br />
						Brgy 670 Zone 72,<br />
						Manila, 1000 Metro Manila
					</li>
					<li>
						<h3>Mail</h3>
						<a href="mailto:philvasc@gmail.com">philvasc@gmail.com</a>
					</li>
					<li>
						<h3>Phone</h3>
						+63-917-468-6604
					</li>
				</ul>
			</section>
		</div>
		<ul class="copyright">
			<li>&copy; 2016. All rights reserved.</li>
			<li>Original Template: <a href="http://templated.co">TEMPLATED</a></li>
			<li>Created by: Iturralde, Elaine C., Jardeleza, Mary Agnes</li>
		</ul>
	</div>
</footer>