<section id="banner">
	<h2>The Philippine Vasculitis Disease Registry</h2>
	<p>The online database registry system of Philvasc.</p>
	<ul class="actions">
		<li>
			<button ng-controller="loginModalCtrl" class="button big" type="button" ng-click="showAdvanced($event)" align="right">Access Database</button>
		</li>
	</ul>
</section>