<header id="header">
  <h1>Philvasc</h1>
  <nav id="nav">
    <ul>
      <li><a ui-sref="home">Home</a></li>
      <li><a ui-sref="aboutvdr">About Vasculitis</a></li>
      <li><a ui-sref="aboutpgh">About Philvasc</a></li>
      <li><a ui-sref="database" ng-show="loggedin">Database </a></li>
      <li><a href="#"><button ng-show="!loggedin" ng-controller="loginModalCtrl" class="button big" type="button" ng-click="showAdvanced($event)" align="right">Login</button></a></li>
      <li><a ui-sref="home"><button ng-show="loggedin" ng-controller="logoutCtrl" class="button big" type="button" ng-click="onLogout()" align="right">Logout</button></a></li>
    </ul>
  </nav>
</header>