<section id="main" class="wrapper">
  <div class="container">

    <header class="major">
      <h2>Filter Fields</h2>
      <p>Choose the ones you need then click the "Download DB" below.</p>
    </header>

    <div ng-controller="SideNavCtrl" layout="column" style="height:500px;" ng-cloak>
      <section layout="row" flex>
        <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            md-disable-backdrop
            md-whiteframe="4">
          <md-toolbar>
            <h4 class="md-toolbar-tools" id="whiteheader">Choose everything that is applicable in Demographics</h4>
          </md-toolbar>
          <md-content layout-padding ng-controller="LeftCtrl">
            <p hide-md show-gt-md>
              <div ng-controller="searchCtrl">
                  <md-list-item ng-repeat="t in commonfields">
                    <p> {{ t.title }} </p>
                    <md-checkbox class="md-secondary" ng-model="t.checked"></md-checkbox>
                  </md-list-item>
                </div>
            </p>
            <md-button ng-click="close()" class="md-primary" hide-gt-md>
              Stop choosing
            </md-button>
          </md-content>
        </md-sidenav>
        <md-content flex layout-padding>
          <div layout="column" layout-fill layout-align="top center">
            <div ng-controller="searchCtrl">
                <div ng-repeat = "t in commonfields">
                    <div ng-show="t.checked">
                        <md-checkbox aria-label="Select All"
                             ng-click="checkAll(t.title, t.checked)">
                          Select All in {{t.title}}
                        </md-checkbox>
                        <md-list-item ng-repeat="a in t.field">
                            <p> {{t.title}}: {{ a.name }} </p>
                            <md-checkbox class="md-secondary" ng-model="a.checked"></md-checkbox>
                        </md-list-item>
                    </div>
                </div>

                <div id="exportable">
                    <table class="table table-hover" hidden="true">
                        <thead>
                            <tr ng-repeat = "t in commonfields">
                                <th ng-repeat = "a in t.field" ng-if="a.checked == true">{{a.name}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>       
            </div>
          </div>
          <div flex></div>
        </md-content>
      </section>
    </div>
    
    <div id="example" ng-controller="excelCtrl">
        <div class="form-group has-feedback" align="center">
           <button ng-click="exportData()" class="button large" style="float: right;">Download DB</button></span>
        </div>
    </div>   
  </div>
</section> 

