<md-dialog aria-label="Patient"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{patient.id}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">

        <h4 ng-hide="hide_prevcard">Select a revision below. The highest number has the most recent change.</h4>
        <h4 ng-hide="!hide_prevcard">There are no revisions available.</h4>
        <div layout="row" ng-hide="hide_prevcard">
          <md-input-container>
            <md-select placeholder="1" ng-model="selectedItem" md-selected-text="getSelectedNumber()">
              <md-optgroup label="Previous Changes">
                <md-option ng-value="rev" ng-repeat="rev in rev_nos" layout-wrap>{{rev}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>

        <md-content class="md-padding" layout-xs="column" layout="row">
          <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Recent Changes</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
               <md-subheader class="md-no-sticky">General Details</md-subheader><br>
                  <font color="#495dc6">First Name</font>
                      {{patient.firstname}}
                  <br>
                  <font color="#495dc6">Last Name</font>
                    {{patient.lastname}}
                  <br><br>
                  
                  <md-subheader class="md-no-sticky">Demographics</md-subheader><br>
                  <font color="#495dc6">Case Number</font>
                    {{patient.caseno}}
                  <br>
                  <font color="#495dc6">MD</font>
                    {{patient.md}}
                  <br>
                  <font color="#495dc6">Institution</font>
                    {{patient.institution}}
                  <br>
                  <font color="#495dc6">Contact Number</font>  
                    {{patient.contact}}
                  <br>
                  <font color="#495dc6">Email Address</font>
                    {{patient.email}}
                  <br>
                  <font color="#495dc6">Address</font> 
                    {{patient.address}}
                  <br>
                  <font color="#495dc6">Sex</font> 
                    {{patient.sex}}
                  <br>
                  <font color="#495dc6">Civil Status</font>
                    {{patient.civilstatus}}
                  <br>
                  <font color="#495dc6">Date of Birth</font>
                    {{patient.date_birth}}
                  <br>
                  <font color="#495dc6">Date of First Symptom</font>
                    {{patient.date_onset}}
                  <br>
                  <font color="#495dc6">Date of Diagnosis</font>
                    {{patient.date_diagnosis}}
                  <br>
                  <font color="#495dc6">Date of Registry Entry</font>
                    {{patient.date_registryentry}}
                  <br>
                  <font color="#495dc6">Disease Duration (cell M minus cell L)</font>
                    {{patient.diseaseduration}}
                  <br>
                  <font color="#495dc6">Status</font>
                    {{patient.status}}
                  <br>
                  <font color="#495dc6">If expired, indicate months from diagnosis</font>
                    {{patient.expired}}
                  <br>
                  <font color="#495dc6">If expired, indicate cause of death (1 = infection; 2 = aneurysm rupture / leak; 3 = unrelated cause; 4 = others - please specify)</font>
                    {{patient.expired_cause}}
                  <br>
                  <font color="#495dc6">Years of Formal Education</font>
                    {{patient.years_education}}
                  <br>
                  <font color="#495dc6">Employment</font>
                    {{patient.employment}}
                  <br>
                  <font color="#495dc6">Chief Complaint</font>
                    {{patient.chiefcomplaint}}
                  <br><br>
                  
                  <md-subheader class="md-no-sticky">Family and Social Histories</md-subheader><br>
                  <font color="#495dc6">Family Member with Vasculitis (0 = none; 1 = 1 member; 2 = 2, and so on)</font>  
                    {{patient.family}}
                  <br>
                  <font color="#495dc6">Smoking</font>
                    {{patient.smoking}}
                  <br>
                  <font color="#495dc6">Alcohol</font>
                    {{patient.alcohol}}
                  <br><br>
                  
                  <md-subheader class="md-no-sticky">Prednisone or Other Glucocorticoids</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient.gluco_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.gluco_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.gluco_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.gluco_months}}
                  <br><br>
                  
                  <md-subheader class="md-no-sticky">IV Cyclophosphamide</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient.ivcycle_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.ivcycle_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.ivcycle_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.ivcycle_months}}
                  <br><br>
                  
                  <md-subheader class="md-no-sticky">PO Cyclophosphamide</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient.pocycle_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.pocycle_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.pocycle_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.pocycle_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Azathioprine</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient.aza_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.aza_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.aza_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.aza_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Methotrexate</md-subheader><br>
                   <font color="#495dc6">Ever Received</font>  
                    {{patient.metho_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.metho_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.metho_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.metho_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Mycophenolate</md-subheader><br>
                   <font color="#495dc6">Ever Received</font>  
                    {{patient.myco_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.myco_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.myco_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.myco_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Cyclosporine</md-subheader> <br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient.cyclo_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.cyclo_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.cyclo_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.cyclo_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Etenercept</md-subheader> <br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient.eta_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.eta_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.eta_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.eta_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Infliximab</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient.infli_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.infli_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.infli_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.infli_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Adalimumab</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient.ada_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.ada_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.ada_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.ada_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Rituximab</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient.ritu_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.ritu_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.ritu_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.ritu_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Plasmapheresis</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient.plasma_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.plasma_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.plasma_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.plasma_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">TMP/SMX: High-Dose (ds tablet BID)</md-subheader> <br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient.tmphd_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.tmphd_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.tmphd_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.tmphd_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">TMP/SMX: Low-Dose (ss tablet OD or ds tablet 3x/week)</md-subheader>  <br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient.tmpld_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.tmpld_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.tmpld_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.tmpld_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Aspirin: Low-Dose</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient.aspld_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.aspld_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.aspld_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.aspld_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Aspirin: High-Dose (>325mg/day)</md-subheader> <br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient.asphd_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.asphd_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.asphd_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.asphd_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Clopidogrel</md-subheader> <br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient.clopi_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.clopi_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.clopi_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.clopi_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Statin</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient.stat_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.stat_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.stat_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.stat_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Oral Contraceptives</md-subheader> <br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient.oral_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.oral_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.oral_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.oral_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Estrogen</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient.est_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.est_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.est_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.est_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Other: {{patient.other_name}}</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient.other_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient.other_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient.other_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient.other_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Complications</md-subheader> <br>
                  <font color="#495dc6">Aneurysm rupture</font>  
                    {{patient.compli_aneurysm}}
                  <br>
                  <font color="#495dc6">Stroke</font>
                    {{patient.compli_stroke}}
                  <br>
                  <font color="#495dc6">Limb Ischemia</font>
                    {{patient.compli_limb}}
                  <br>
                  <font color="#495dc6">Dialysis</font>
                    {{patient.compli_dialysis}}
                  <br>
                  <font color="#495dc6">Others</font>
                    {{patient.compli_others}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Invasive Management</md-subheader> <br>
                  <font color="#495dc6">PTCA</font>  
                    {{patient.inva_ptca}}
                  <br>
                  <font color="#495dc6">Stroke</font>
                    {{patient.inva_aneurysm}}
                  <br>
                  <font color="#495dc6">Limb Ischemia</font>
                    {{patient.inva_ampu}}
                  <br>
                  <font color="#495dc6">Dialysis</font>
                    {{patient.inva_others}}
                  <br><br>
            </md-card-content>
          </md-card>
          </div>

          <div flex-xs flex-gt-xs="50" layout="column" ng-hide="hide_prevcard">
            <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Previous Changes</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
               <md-subheader class="md-no-sticky">General Details</md-subheader><br>
                  <font color="#495dc6">First Name</font>
                      {{patient_history.firstname}}
                  <br>
                  <font color="#495dc6">Last Name</font>
                    {{patient_history.lastname}}
                  <br><br>
                  
                  <md-subheader class="md-no-sticky">Demographics</md-subheader><br>
                  <font color="#495dc6">Case Number</font>
                    {{patient_history.caseno}}
                  <br>
                  <font color="#495dc6">MD</font>
                    {{patient_history.md}}
                  <br>
                  <font color="#495dc6">Institution</font>
                    {{patient_history.institution}}
                  <br>
                  <font color="#495dc6">Contact Number</font>  
                    {{patient_history.contact}}
                  <br>
                  <font color="#495dc6">Email Address</font>
                    {{patient_history.email}}
                  <br>
                  <font color="#495dc6">Address</font> 
                    {{patient_history.address}}
                  <br>
                  <font color="#495dc6">Sex</font> 
                    {{patient_history.sex}}
                  <br>
                  <font color="#495dc6">Civil Status</font>
                    {{patient_history.civilstatus}}
                  <br>
                  <font color="#495dc6">Date of Birth</font>
                    {{patient_history.date_birth}}
                  <br>
                  <font color="#495dc6">Date of First Symptom</font>
                    {{patient_history.date_onset}}
                  <br>
                  <font color="#495dc6">Date of Diagnosis</font>
                    {{patient_history.date_diagnosis}}
                  <br>
                  <font color="#495dc6">Date of Registry Entry</font>
                    {{patient_history.date_registryentry}}
                  <br>
                  <font color="#495dc6">Disease Duration (cell M minus cell L)</font>
                    {{patient_history.diseaseduration}}
                  <br>
                  <font color="#495dc6">Status</font>
                    {{patient_history.status}}
                  <br>
                  <font color="#495dc6">If expired, indicate months from diagnosis</font>
                    {{patient_history.expired}}
                  <br>
                  <font color="#495dc6">If expired, indicate cause of death (1 = infection; 2 = aneurysm rupture / leak; 3 = unrelated cause; 4 = others - please specify)</font>
                    {{patient_history.expired_cause}}
                  <br>
                  <font color="#495dc6">Years of Formal Education</font>
                    {{patient_history.years_education}}
                  <br>
                  <font color="#495dc6">Employment</font>
                    {{patient_history.employment}}
                  <br>
                  <font color="#495dc6">Chief Complaint</font>
                    {{patient_history.chiefcomplaint}}
                  <br><br>
                  
                  <md-subheader class="md-no-sticky">Family and Social Histories</md-subheader><br>
                  <font color="#495dc6">Family Member with Vasculitis (0 = none; 1 = 1 member; 2 = 2, and so on)</font>  
                    {{patient_history.family}}
                  <br>
                  <font color="#495dc6">Smoking</font>
                    {{patient_history.smoking}}
                  <br>
                  <font color="#495dc6">Alcohol</font>
                    {{patient_history.alcohol}}
                  <br><br>
                  
                  <md-subheader class="md-no-sticky">Prednisone or Other Glucocorticoids</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient_history.gluco_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.gluco_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.gluco_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.gluco_months}}
                  <br><br>
                  
                  <md-subheader class="md-no-sticky">IV Cyclophosphamide</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient_history.ivcycle_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.ivcycle_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.ivcycle_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.ivcycle_months}}
                  <br><br>
                  
                  <md-subheader class="md-no-sticky">PO Cyclophosphamide</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient_history.pocycle_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.pocycle_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.pocycle_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.pocycle_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Azathioprine</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient_history.aza_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.aza_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.aza_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.aza_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Methotrexate</md-subheader><br>
                   <font color="#495dc6">Ever Received</font>  
                    {{patient_history.metho_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.metho_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.metho_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.metho_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Mycophenolate</md-subheader><br>
                   <font color="#495dc6">Ever Received</font>  
                    {{patient_history.myco_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.myco_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.myco_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.myco_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Cyclosporine</md-subheader> <br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient_history.cyclo_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.cyclo_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.cyclo_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.cyclo_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Etenercept</md-subheader> <br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient_history.eta_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.eta_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.eta_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.eta_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Infliximab</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient_history.infli_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.infli_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.infli_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.infli_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Adalimumab</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient_history.ada_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.ada_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.ada_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.ada_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Rituximab</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient_history.ritu_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.ritu_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.ritu_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.ritu_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Plasmapheresis</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient_history.plasma_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.plasma_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.plasma_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.plasma_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">TMP/SMX: High-Dose (ds tablet BID)</md-subheader> <br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient_history.tmphd_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.tmphd_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.tmphd_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.tmphd_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">TMP/SMX: Low-Dose (ss tablet OD or ds tablet 3x/week)</md-subheader>  <br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient_history.tmpld_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.tmpld_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.tmpld_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.tmpld_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Aspirin: Low-Dose</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient_history.aspld_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.aspld_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.aspld_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.aspld_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Aspirin: High-Dose (>325mg/day)</md-subheader> <br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient_history.asphd_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.asphd_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.asphd_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.asphd_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Clopidogrel</md-subheader> <br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient_history.clopi_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.clopi_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.clopi_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.clopi_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Statin</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient_history.stat_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.stat_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.stat_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.stat_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Oral Contraceptives</md-subheader> <br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient_history.oral_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.oral_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.oral_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.oral_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Estrogen</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient_history.est_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.est_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.est_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.est_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Other: {{patient_history.other_name}}</md-subheader><br>
                  <font color="#495dc6">Ever Received</font>  
                    {{patient_history.other_rec}}
                  <br>
                  <font color="#495dc6">Currently Receiving</font>
                    {{patient_history.other_currrec}}
                  <br>
                  <font color="#495dc6">Last Taken</font>
                    {{patient_history.other_lasttaken}}
                  <br>
                  <font color="#495dc6">Cumulative Months of Use</font>
                    {{patient_history.other_months}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Complications</md-subheader> <br>
                  <font color="#495dc6">Aneurysm rupture</font>  
                    {{patient_history.compli_aneurysm}}
                  <br>
                  <font color="#495dc6">Stroke</font>
                    {{patient_history.compli_stroke}}
                  <br>
                  <font color="#495dc6">Limb Ischemia</font>
                    {{patient_history.compli_limb}}
                  <br>
                  <font color="#495dc6">Dialysis</font>
                    {{patient_history.compli_dialysis}}
                  <br>
                  <font color="#495dc6">Others</font>
                    {{patient_history.compli_others}}
                  <br><br>

                  <md-subheader class="md-no-sticky">Invasive Management</md-subheader> <br>
                  <font color="#495dc6">PTCA</font>  
                    {{patient_history.inva_ptca}}
                  <br>
                  <font color="#495dc6">Stroke</font>
                    {{patient_history.inva_aneurysm}}
                  <br>
                  <font color="#495dc6">Limb Ischemia</font>
                    {{patient_history.inva_ampu}}
                  <br>
                  <font color="#495dc6">Dialysis</font>
                    {{patient_history.inva_others}}
                  <br><br>
              </md-card-content>
          </md-card>
          </div></md-content>

      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()" style="margin-right:20px;">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>