<md-content class="md-padding">
  <div ng-controller="changesCtrl">
	  	<div class="row">
        <div class="col-xs-4">
           	<label for="search">Search:</label>
            <input ng-model="searchitem" id="search" class="form-control" placeholder="Search Database">
        </div>
        <div class="col-xs-4">
            <label for="search">Patients Per Page:</label>
            <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
     	</div>
   	</div>
   	<div class="text-center">
		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="templates/database/pagination.html" pagination-id="pagination"></dir-pagination-controls>
	</div>
   	<br>
	<md-list>
		<ul class="list-group">
			<li class="list-group-item" dir-paginate="change in changes | filter:searchitem | itemsPerPage: pageSize" current-page="currentPage" pagination-id="pagination">
				<div ng-click="getRevision(change._id, $event)">
					<p> Change Number: {{change.seq}}</p>
					<h3> A change was made to <div style="color: #FF69B4;"> {{change.id}} {{change.firstname}} {{change.lastname}} </div> by Doctor {{change.doctor}} last {{change.date}} at {{change.time}}</h3>
				</div>
			</li>	
		</ul>
	</md-list>
  </div>
</md-content>