<section id="main" class="wrapper">
	<div class="container">

		<div ng-cloak>
		  <md-content>
		  	<h2>The Vasculitis Database</h2>
		    <md-tabs md-dynamic-height md-border-bottom>
		      <md-tab label="Search">
		        <md-content class="md-padding">
					<center><h4>Access the data by downloading the database excel file. You may download the whole database or filter the ones you need.</h4></center><br />

					<section>
						<center><md-input-container id="searchbox" flex>
							<input type="text" class="form-control" placeholder="Search">
							<br />
						</md-input-container></center>
						<span>
							<center>
							   <div id="example" ng-controller="excelCtrl">
							        <button ng-click="exportData()" class="button medium">Download DB</button>
								   <font color="white" size="5px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
								   <button ui-sref="filterfields" type="submit" class="button medium">Filter Fields</button>
							   </div>
							</center>
						</span>

						<div id="exportable">
							<div ng-controller="searchCtrl">
								<table class="table table-hover" hidden="true">
							 	    <thead bgcolor="#49c6b3">
							 	      <tr ng-repeat = "t in commonfields">
							 	      	<th ng-repeat = "a in t.field">{{a.name}}
							        	</th>
							 	      </tr>
							 	    </thead>
							 	    <tbody>
							 	    </tbody>
							 	</table>
							 </div>
						 </div>
						<alert ng-if="patients.length == 0" type="info">Currently, there are no patients in the database.</alert>
					</section>
		        </md-content>
		      </md-tab>
		      <md-tab label="Charts">
		      	<div ng-controller="barCtrl">
		      		<div layout="row">
		      			<div class="col-xs-4">
		      				<h3><br />Pick a graph below:</h3>
		      			</div>
		      			<div class="col-xs-4">
		      				<h3><br />Number of Patients: {{total_docs}}</h3>
		      			</div>
		      		</div>
		      		
			      	<div layout="row">
				      <md-input-container>
				        <md-select placeholder="Gender" ng-model="selectedItem" md-selected-text="getSelectedText()">
				          <md-optgroup label="Fields">
				            <md-option ng-value="item" ng-repeat="item in fields" layout-wrap>{{item}}</md-option>
				          </md-optgroup>
				        </md-select>
				      </md-input-container>
				      <md-input-container>
				        <md-select placeholder="Bar Graph" ng-model="selectedGraph" md-selected-text="getSelectedGraph()">
				          <md-optgroup label="Graphs">
				            <md-option ng-value="item" ng-repeat="item in graphs" layout-wrap>{{item}}</md-option>
				          </md-optgroup>
				        </md-select>
				      </md-input-container>
				    </div>

			        <md-content ng-show="!percentage" class="md-padding">
			        	<h1><center>Bar Graph of {{selectedItem}}</center></h1>
			          	<canvas id="bar" height="100" class="chart chart-bar"
						  chart-data="bardata" chart-labels="labels"> chart-series="series" </canvas>
			        </md-content>
			        <md-content ng-show="percentage" class="md-padding">
			        	<h1><center>Pie Chart of the Percentage of {{selectedItem}}</center></h1>
			          	<canvas id="pie" height="100" class="chart chart-pie" chart-data="piedata" chart-labels="labels"></canvas> 
			        </md-content>
			    </div>
		      </md-tab>
		      <md-tab label="Changes Feed">
		        <div ng-include="'templates/changesfeed/changesfeed.html'"></div>
		      </md-tab>
		      <md-tab label="Manage Users">
		        <div ng-include="'templates/manageusers/manageusers.html'"></div>
		      </md-tab>
		    </md-tabs>
		  </md-content>
		</div>
	</div>
</section>
